webservice_V11g/webservice/WebClient/classes/webclient/MyCompanyWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://annotation/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://annotation/" name="MyCompanyWS">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://annotation/" schemaLocation="MyCompanyPort1.xsd"/>
    </xsd:schema>
  </types>
  <message name="setMyDepts">
    <part name="parameters" element="tns:setMyDepts"/>
  </message>
  <message name="setMyDeptsResponse">
    <part name="parameters" element="tns:setMyDeptsResponse"/>
  </message>
  <message name="getMyDepts">
    <part name="parameters" element="tns:getMyDepts"/>
  </message>
  <message name="getMyDeptsResponse">
    <part name="parameters" element="tns:getMyDeptsResponse"/>
  </message>
  <message name="addEmployeeToDept">
    <part name="parameters" element="tns:addEmployeeToDept"/>
  </message>
  <message name="addEmployeeToDeptResponse">
    <part name="parameters" element="tns:addEmployeeToDeptResponse"/>
  </message>
  <message name="getDeptInfo">
    <part name="parameters" element="tns:getDeptInfo"/>
  </message>
  <message name="getDeptInfoResponse">
    <part name="parameters" element="tns:getDeptInfoResponse"/>
  </message>
  <portType name="MyCompany">
    <operation name="setMyDepts">
      <input message="tns:setMyDepts"/>
      <output message="tns:setMyDeptsResponse"/>
    </operation>
    <operation name="getMyDepts">
      <input message="tns:getMyDepts"/>
      <output message="tns:getMyDeptsResponse"/>
    </operation>
    <operation name="addEmployeeToDept">
      <input message="tns:addEmployeeToDept"/>
      <output message="tns:addEmployeeToDeptResponse"/>
    </operation>
    <operation name="getDeptInfo">
      <input message="tns:getDeptInfo"/>
      <output message="tns:getDeptInfoResponse"/>
    </operation>
  </portType>
  <binding name="MyCompanyPortBinding" type="tns:MyCompany">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="setMyDepts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMyDepts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addEmployeeToDept">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDeptInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MyCompanyWS">
    <port name="MyCompanyPort" binding="tns:MyCompanyPortBinding">
      <soap:address location="http://localhost:7101/WebService-WebClient-context-root/MyCompanyDCService"/>
    </port>
  </service>
</definitions>